* {
  font-family: 'Nunito';
}


/* Navbar stuff */

.navbar-custom {
  background: #11175D !important;
  font-size: 1.5rem;
}

a.navbar-brand {

  padding-left: 1%;
  font-size: 2rem;
  font-weight: 500;
}

#move {
  padding-right: 1.3rem;
}

.navbar-nav>.nav-item>.dropdown-menu {
  background-color: white;
}

.navbar-nav>.nav-item>.dropdown-menu a {
  color: #555555;
  font-size: 1.3rem;
}

.navbar-nav>.nav-item>.dropdown-menu a:hover {
  background-color: #e0e2e9;
}

/* end navbar stuff */

.main-content {
  
  padding: 2em;
  padding-top: 4rem;
}

.welcome-title {
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 3rem;
  color: #11175D;
  line-height: 7rem;
}

.welcome-text {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #11175D;
}

main {
  padding-top: 5%;
  height: 100%;
}

.welcome-image {
  padding-top: 2%;

}

.image-adjust {
  width: 100%;
}

.fitbit-surround {
  background: #11175D;
  border-radius: 5% 5% 0% 0%;
  width: 100%;
  height: 50rem;
  padding: 0px;
  margin: 0px;
}

h2.goal-title {
  font-size: 3rem;
}